<div class="col-md-12">
    <div class="input-group input-group-lg">
        <div class="checkbox">
            <label for="">
                <input ng-click="vm.save()" type="checkbox" ng-model="vm.todo.done">
            </label>
        </div>
        <label ng-if="!vm.todo.editMode" for=""
               ng-class="{'todo-completed' : vm.todo.done}">{{vm.todo.description}}</label>
        <input ng-if="vm.todo.editMode" class="form-control" type="text" ng-model="todo.description">

    <span>
                            <button class="btn btn-default btn-lg" ng-click="vm.todo.save()"><i class="fa fa-check"></i></button>
                    <button class="btn btn-default btn-lg"
                            ng-click="vm.todo.editMode = false; vm.todo.description = vm.oldValue"><i
                            class="fa fa-times"></i></button>
                    <button class="btn btn-warning btn-lg" ng-disabled="vm.todos.$resolved == false"
                            ng-click="vm.remove(todo)"><i
                            class="fa fa-trash"></i></button>
    </span>
    </div>
</div>