<div class="row">
    <div class="col-md-12">
        <div class="input-group input-group-lg">
            <input class="form-control input-lg" type="text" ng-model="vm.todo.description">
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" ng-click="vm.add()"><i
                        class="fa fa-plus"></i> Add Todo</button>
            </span>
        </div>
    </div>


    <div ng-repeat="todo in vm.todos" class="row">
        <todo-item item="todo"></todo-item>
    </div>
</div>
